.App {
  text-align: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  font-family: 'Roboto', sans-serif;
  color: black;
  background: linear-gradient(30deg,white, rgb(238, 247, 237));
}

.navbar h1{
  font-size: calc(1em + 2vmin);
}

h2 {
  font-size: 3em;
  color: aliceblue;
  margin: auto;
  padding: 0.5em;
  text-shadow: 2px 2px 4px #000000;
  background: linear-gradient(30deg, green, greenyellow);
}

.App img{
  max-width:  calc(10em + 2vmin);;
  margin: auto;
}

h3{
  font-size: 3em;
  font-weight: 700;
  font-style: normal;
}

.foto{
  float: left;
}

.icono{
  margin-left: 0.5em;
  margin-right: 0.5em;
}
