.App {
  text-align: center;
  font-size: large;
  font-family: 'Noto Sans', sans-serif;
  background: linear-gradient(30deg,white, rgb(238, 247, 237));
}

/* CSS de la pagina anterior */

h2 {
  font-size: 3em;
  color: aliceblue;
  margin: auto;
  padding: 10px;
  text-shadow: 2px 2px 4px #000000;
  background: linear-gradient(30deg, green, greenyellow);
}

.container{
  display: inline-block;
  padding: 1em;
}

.card-img{
  max-width: 50%;
  margin: auto;
}

#selfie{
  width: 10em;
  float: left;
}

p{
  font-weight: 400;
  font-size: 1.5em;
}

.icono{
  margin-left: 1em;
}

.cads{
  display: inline-block;
  margin: 5px;
  padding: 1em;
}

.error{
  background-color: red;
  color: aliceblue;
}